:local {
    WebView {
        position: absolute;
        width: calc(100% - 80px);
        height: 100%;
        top: 39px;
    }
    .container h2 {
        font-size: 5rem;
    }
    .container a {
        font-size: 1.4rem;
    }
    .topbar {
        background-color: #fff;
        border-bottom: 1px solid #E8E8E8;
        padding: 10px;
        .barItem {
            cursor: pointer;
            color: #717274;
            visibility: hidden;
            &.visible {
                visibility: visible;
            }
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    .centerContainer {
        position: relative;
        margin-top: 47vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100px;
    }
}
