$activeColor: #939494;

:local {
    width: 80px;
    .container {
        position:absolute;
        width: 80px;
        left: 0px;
        top: 0px;
        height: 100%;
        background-color: #282A29;
        text-align: center;
        padding: 20px 0;
        img {
            width: 35px;
            border-radius: 13px;
            border: 3px solid transparent;
            transition: border-color .5s;
            &:hover {
                border-color: $activeColor;
            }
        }
    }
    .community {
         position:relative;
        .item {
            margin-bottom: 15px;
        }
        .addBtn {
            height: 34px;
            width: 34px;
            border: 0;
            border-radius: 6px;
            background-color: #5D5F5E;
            color: #282A29;
            font-size: 26px;
            line-height: normal;
            transition: all .5s;
            padding: 0;
            &:active, &:focus {
                outline: 0;
            }
            &:hover {
                background-color: $activeColor;
            }
        }
    }
     .active {
         &::before {
             content: ' ';
             width: 3px;
             background-color: #939494;
             border-radius: 3px;
             height: 34px;
             position: absolute;
             margin-top: 5px;
             left: 0;
         }
     }
    .addModal {
        color: black;
        background-color: #F9F9F9;
        width: 100%;
        height: 100%;
        position: absolute;
        .logo {
            height: 40px;
            margin-top: 10px;
        }
        .formContainer {
            border: 1px solid #E8E8E8;
            background-color:#fff;
            width: 400px;
            height: 400px;
            border-radius: 3px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            box-shadow: 0px 2px 0px $activeColor;
            padding: 20px;
            text-align: center;
            h3 {
                font-size: 22px;
            }
            p {
                font-size: 16px;
            }
            .siteLabel {
                line-height: 40px;
            }
            input {
                padding: 10px 5px;
                border: 1px solid #A0A0A2;
                width: 100%;
                font-size: 16px;
                border-radius: 3px;
                &:active, &:focus {
                    outline: 0;
                }
            }
        }
        .modalTopbar {
            border-bottom:2px solid #EAEAEA;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align:center;
            position: relative;
            .close {
                position: absolute;
                right: 20px;
                font-size: 22px;
                color: #9E9EA6;
                transition: all .5s;
                cursor: pointer;
                &:hover {
                    color: #282A29;
                }
            }
        }
        .modalContainer {
            background-color: #F9F9F9;
            width: 100%;
            height: 100%;
        }
        .modalBtn {
            margin-top: 40px;
            background-color: #2EA664;
            color: #fff;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            height: 40px;
            border-radius: 3px;
            border: 0;
        }
    }
}
