$activeColor: #939494;

:local {
    width: 80px;
    .container {
        position:absolute;
        width: 80px;
        left: 0px;
        top: 0px;
        height: 100%;
        background-color: #282A29;
        text-align: center;
        padding: 20px 0;
        img {
            width: 35px;
            border-radius: 13px;
            border: 3px solid transparent;
            transition: border-color .5s;
            &:hover {
                border-color: $activeColor;
            }
        }
    }
    .community {
        position:relative;
        max-height: 90vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0 !important;
        }
        .item {
            margin-bottom: 15px;
            &::before {
                transition: all .5s;
                content: ' ';
                 background-color: #939494;
                 border-radius: 50%;
                 height: 5px;
                 width: 5px;
                 position: absolute;
                 margin-top: 18px;
                 left: -1px;
            }
            &.active {
                &::before {
                    width: 3px;
                    border-radius: 3px;
                    height: 34px;
                    margin-top: 5px;
                    left: 0;
                }
            }
        }
    }
    .cta {
        margin-top: 10px;
    }
    .addBtn {
        height: 34px;
        width: 34px;
        border: 0;
        border-radius: 6px;
        background-color: #5D5F5E;
        color: #282A29;
        font-size: 14px;
        transition: all .5s;
        padding: 0;
        &:active, &:focus {
            outline: 0;
        }
        &:hover {
            background-color: $activeColor;
        }
    }

    .addModal {
        color: black;
        background-color: #F9F9F9;
        width: 100%;
        height: 100%;
        position: absolute;
        .logo {
            height: 40px;
            margin-top: 10px;
        }

        .modalTopbar {
            border-bottom:2px solid #EAEAEA;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align:center;
            position: relative;
            .close {
                position: absolute;
                right: 20px;
                font-size: 22px;
                color: #9E9EA6;
                transition: all .5s;
                cursor: pointer;
                &:hover {
                    color: #282A29;
                }
            }
        }
        .modalContainer {
            background-color: #F9F9F9;
            width: 100%;
            height: 100%;
        }

    }
}
