@import "~font-awesome/css/font-awesome.css";
body {
    color: white;
    height: 100vh;
    background-color: #939494;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -.025em;
    color: #fff;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: .75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.nav-container {
    margin-left: 80px;
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

button {
    cursor: pointer;
    &:active,
    &:focus {
        outline: 0;
    }
}

.mt {
    &-2 {
        margin-top: 20px;
    }
}

.react-contextmenu {
    left: 9px!important;
    background-color: #939494;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    &-item {
        &:focus {
            outline: 0;
        }
    }
}
